body {
  margin: 0;
  overflow: hidden;
  background-color: #000c06;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start; /* Push everything to the top */
}

.garden {
  font-family: "bickham-script-pro-3", sans-serif;
  font-size: 10rem; 
  color: #a0d5b5; 
  position: absolute;
  white-space: nowrap;
  pointer-events: none; 
}

.garden span {
  text-transform: uppercase;
  position: absolute;
  animation: fadeOut 6s forwards; /* Add a fade-out animation */
}

@keyframes fadeOut {
  to {
      opacity: 0;
  }
}
